@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



.main{
    /* min-height: 100vmin; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 9;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    background-color: var(--backg);
 



 
}


.first_div{
   padding: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      /* border: 1px solid teal; */
   
   
  
}


.data4{

     width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
    font-size: 1.2rem;
    padding-top: 3em;
    color: white;
    /* border: 1px solid yellowgreen; */


}


.data4 div{
         min-width: 25%;
         display: flex;
         align-items: center;
         justify-content: center;
         color: rgb(170, 164, 164);
      
        /* border: 1px solid yellowgreen; */
}


.data4 div span:nth-child(1){
    color: white;
    font-size: 2.5rem;
}




.first_div_3items{

   padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.15rem;
        /* border: 1px solid yellowgreen; */

}
.first_div_3items a{
    color: white;
    text-decoration: none;

}
.first_div_3items a:hover{
    color:var(--red);
    text-decoration: none;

}

.first_div_3items_item1{
    border-bottom: .2em solid var(--red);
}



.secondDiv{
  
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
        color: white;

        /* border: 1px solid hotpink; */
}

.secondDiv_first_box{
    padding: 1em;
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

        /* border: 1px solid rgb(124, 252, 252); */

}

.secondDiv_first_box_headline{
    width: 100%;
    padding: 1.5em;
    font-size: 1.1rem;
    display: flex;
    align-items: flex-end;
    

  
}


.secondDiv_first_box_main_text{
    width: 100%;
    padding: 1.5em;
    font-size: 1rem;
    display: flex;
    padding-top: 50px;
    text-align: left;
 

        /* border: 1px solid yellowgreen; */

   
}


.secondDiv_first_box2{

       padding: 1em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      
     
    
        /* border: 1px solid rgb(124, 252, 252); */

}

.secondDiv_first_box2 div{
  
   padding: .3em;
   min-width:50%;
   font-size: 1.1rem;
}


.secondDiv_first_box2 button{
        align-self: start;
       margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.1rem;
        padding: .7em;
        width: 200px;
        border: none;
        background-color: var(--red);
        color: white;
        border-bottom-right-radius: 20px;
}



.secondDiv_first_box2 button:hover {
    transition: 600ms;
    transform: scale(.98);
}






.secondDiv_second_box{
   
   /* min-height:45vmin; */
    max-width: 48%;

 


}



.empty{
    padding:2.5em;
    width: 100%;
    /* border: 1px solid red; */

}


@media (max-width:1200px) {


    .secondDiv {

        min-width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;

        /* border: 1px solid hotpink; */
    }



        .secondDiv_first_box2 {
    
            padding: 1em;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
    
    
    

    
        }
    
        .secondDiv_first_box2 div {
    
            padding: .3em;
            min-width: 50%;
            font-size: .9rem;
        }
    
    
        .secondDiv_first_box2 button {
            align-self: start;
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: 1rem;
            padding: .6em;
            width: 180px;
            border: none;
            background-color: var(--red);
            color: white;
            border-bottom-right-radius: 20px;
        }

   
}










@media (max-width:992px) {
    .main {
        min-height: auto;
        margin-top: -2%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 9;
        cursor: pointer;
        font-family: 'Righteous', cursive;


        /* background-image: url('../img/about.png');
        background-size: 100% 100%;
        background-position: center; */


    }


    .first_div {
        padding: 1em;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

   



    }


    .first_div_headline {
        padding: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.3rem;
     
        /* border: 1px solid yellowgreen; */

    }

.data4 {

    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    font-size: 1.1rem;
    padding-top: 3em;
    color: white;


}


.data4 div {
    min-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(170, 164, 164);

    /* border: 1px solid yellowgreen; */
}


.data4 div span:nth-child(1) {
    color: white;
    font-size: 2.2rem;
}


    .first_div_3items {

        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
        /* border: 1px solid yellowgreen; */

    }

    


    .secondDiv {

        min-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
   

    }

    .secondDiv_first_box {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* border: 1px solid rgb(124, 252, 252); */

    }

    .secondDiv_first_box_headline {
        width: 100%;
        padding: 1.5em;
        font-size: 1.1rem;
        display: flex;
        align-items: flex-end;
        /* border: 1px solid red; */


    }


    .secondDiv_first_box_main_text {
        width: 100%;
        padding: 1.5em;
        font-size: .9rem;
        display: flex;
        padding-top: 50px;
        text-align: left;


        /* border: 1px solid yellowgreen; */


    }

.secondDiv_first_box2 {

    padding: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;




}

.secondDiv_first_box2 div {

    padding: .7em;
    min-width: 50%;
    font-size: 1rem;
}


.secondDiv_first_box2 button {
    align-self: start;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    padding: .6em;
    width: 180px;
    border: none;
    background-color: var(--red);
    color: white;
    border-bottom-right-radius: 20px;
}


    .secondDiv_second_box {
       

        height: auto;
       
        max-width: 75%;
        /* border: 1px solid rgb(124, 252, 252); */



    }
}










@media (max-width:768px) {
    .main {
        min-height: auto;
        margin-top: -2%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 9;
        cursor: pointer;
        font-family: 'Righteous', cursive;


        /* background-image: url('../img/about.png');
        background-size: 100% 100%;
        background-position: center; */


    }


    .first_div {
        padding: 1em;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;





    }


    .first_div_headline {
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;
    
        /* border: 1px solid yellowgreen; */

    }




    .first_div_3items {

        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .9rem;
        /* border: 1px solid yellowgreen; */

    }

 


.data4 {

    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    font-size: 1.2rem;
    padding-top: 1em;
    color: white;
 

}


.data4 div {
    min-width: 50%;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(170, 164, 164);

    /* border: 1px solid yellowgreen; */
}



    .secondDiv {

        min-width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    

        /* border: 1px solid hotpink; */
    }

    .secondDiv_first_box {
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* border: 1px solid rgb(124, 252, 252); */

    }

    .secondDiv_first_box_headline {
        width: 100%;
        padding: 1.5em;
        font-size: 1rem;
        display: flex;
        align-items: flex-end;
        /* border: 1px solid red; */


    }


    .secondDiv_first_box_main_text {
        width: 100%;
        padding: 1.5em;
        font-size: .85rem;
        display: flex;
        padding-top: 50px;
        text-align: left;


        /* border: 1px solid yellowgreen; */


    }

      

    .secondDiv_second_box {


        height: auto;

        max-width: 80%;
        /* border: 1px solid rgb(124, 252, 252); */



    }
}













@media (max-width:600px) {
    .main {
        min-height: auto;
        margin-top: -2%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 9;
        cursor: pointer;
        font-family: 'Righteous', cursive;


        /* background-image: url('../img/about.png');
        background-size: 100% 100%;
        background-position: center; */


    }


    .first_div {
  
        padding: .2em;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;





    }


    .first_div_headline {
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;
        text-align: center;

        /* border: 1px solid yellowgreen; */

    }




    .first_div_3items {

        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: .75rem;
        /* border: 1px solid yellowgreen; */

    }

   .data4 {

       width: 95%;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;

       font-size: .95rem;
       padding-top: 1em;
       color: white;
    

   }


   .data4 div {
       min-width: 50%;
       padding: .5em;
       display: flex;
       align-items: center;
       justify-content: center;
       color: rgb(170, 164, 164);

       /* border: 1px solid yellowgreen; */
   }

  


    .secondDiv {

        min-width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;


        /* border: 1px solid hotpink; */
    }

    .secondDiv_first_box {
        padding: .5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* border: 1px solid rgb(124, 252, 252); */

    }

    .secondDiv_first_box_headline {
        width: 100%;
        padding: 1em;
        font-size: .95rem;
        text-align: left;
        display: flex;
        align-items: flex-end;
        /* border: 1px solid red; */


    }


    .secondDiv_first_box_main_text {
        width: 100%;
        padding: 1em;
        font-size: .85rem;
        display: flex;
        padding-top: 50px;
        text-align: left;


        /* border: 1px solid yellowgreen; */


    }



          .secondDiv_first_box2 {
    
              padding: 1em;
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: flex-start;
    
    
     
    
          }
    
          .secondDiv_first_box2 div {
    
              padding: .7em;
              min-width: 50%;
              font-size: .85rem;
           
          }
    
    
          .secondDiv_first_box2 button {
              align-self: start;
              margin-top: 1em;
              margin-bottom: 1em;
              font-size: .9rem;
              padding: .7em;
              width: 180px;
              border: none;
              background-color: var(--red);
              color: white;
              border-bottom-right-radius: 20px;
          }



    .secondDiv_second_box {


        height: auto;

        max-width: 90%;
        /* border: 1px solid rgb(124, 252, 252); */



    }
}