@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.main {


    /* min-height: 100vmin; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 9;
    background-color: var(--backg);
    color: white;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    /* border: 1px solid red; */

}


.firstDiv_headline {
    margin-top: 2em;
    padding: 2.5em;
    min-width: 65rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 2px solid red; */

}

.secondDiv {

    min-width: 65rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid red; */


}

.secondDiv_left_div {


    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid red; */


}

.secondDiv_left_div_items {

    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 1.4em;


}

.check {
    font-size: 1.2rem;
    margin-right: 12px;
    color: var(--red);

}


.secondDiv_right_div {

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;








}


.secondDiv_right_div_button {
    padding: .8em;
    width: 180px;


    background-color: transparent;
    border-radius: .7em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    border: .2em solid var(--red);
    margin-top: 3em;


}

.secondDiv_right_div_button:hover {
    transition: 750ms;
    color: var(--red);
    background-color: white;
    border: 0px;
}


.thredDiv {
    padding: 2em;
    min-width: 80%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2em;


 
}


.thredDiv_headline {
    font-size: 1.2rem;
    padding-bottom: 2em;

}















@media (max-width:65rem) {
    .firstDiv_headline {
        margin-top: 2em;
        padding: 2.5em;
        min-width: 70%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;



    }

    .secondDiv {

        min-width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;




    }

    .secondDiv_left_div {


        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;




    }

    .secondDiv_left_div_items {

        width: 100%;
        display: flex;
        align-items: center;
        font-size: .95rem;
        padding: 1.2em;


    }

    .check {
        font-size: 1.2rem;
        margin-right: 12px;
        color: var(--red);

    }


    .secondDiv_right_div {

        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;








    }


    .secondDiv_right_div_button {
        padding: .8em;
        width: 180px;


        background-color: transparent;
        border-radius: .7em;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 1rem;
        border: .2em solid var(--red);
        margin-top: 3em;


    }

    .secondDiv_right_div_button:hover {
        transition: 750ms;
        color: var(--red);
        background-color: white;
        border: 0px;
    }


    .thredDiv {
        padding: 2em;
        min-width: 80%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 2em;



    }


    .thredDiv_headline {
        font-size: 1.1rem;
        padding-bottom: 2em;

    }
}















@media (max-width:768px) {
    .firstDiv_headline {
        margin-top: 1em;
        padding: 2.5em;
        width: 70%;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;



    }

    .secondDiv {

        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;




    }

    .secondDiv_left_div {


        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;




    }

    .secondDiv_left_div_items {

        width: 100%;
        display: flex;
        align-items: center;
        font-size: .95rem;
        padding: 1.2em;


    }

    .check {
        font-size: 1.2rem;
        margin-right: 12px;
        color: var(--red);

    }


    .secondDiv_right_div {

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;








    }


    .secondDiv_right_div_button {
        padding: .7em;
        width: 31%;


        background-color: transparent;
        border-radius: .7em;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: .9rem;
        border: .2em solid var(--red);
        margin-top: 3em;


    }



    .thredDiv {
        padding: 2em;
        width: 80%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 2em;



    }


    .thredDiv_headline {
        font-size: 1.1rem;
        padding-bottom: 2em;

    }
}










@media (max-width:600px) {
    .firstDiv_headline {
        margin-top: 1em;
        padding-top: 2.5em;
        width: 95%;
        font-size: 1.1rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;



    }

    .secondDiv {

        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;




    }

    .secondDiv_left_div {


        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;




    }

    .secondDiv_left_div_items {

        width: 100%;
        display: flex;
        align-items: center;
        font-size: .95rem;
        padding: 1.2em;


    }

    .check {
        font-size: 1.2rem;
        margin-right: 12px;
        color: var(--red);

    }


    .secondDiv_right_div {

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;








    }


    .secondDiv_right_div_button {
        padding: .7em;
        width: 31%;


        background-color: transparent;
        border-radius: .7em;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: .9rem;
        border: .2em solid var(--red);
        margin-top: 3em;


    }



    .thredDiv {
        padding: 2em;
        width: 85%;
        font-size: .9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 2em;



    }


    .thredDiv_headline {
        font-size: 1.1rem;
        padding-bottom: 2em;

    }
}




















@media (max-width:450px) {
    .firstDiv_headline {
        margin-top: 1em;
        padding-top: 2.5em;
        width: 100%;
        font-size: .95rem;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;



    }

    .secondDiv {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;




    }

    .secondDiv_left_div {


        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;




    }

    .secondDiv_left_div_items {

        width: 100%;
        display: flex;
        align-items: center;
        font-size: .85rem;
        padding: 1.2em;
        text-align: left;


    }

    .check {
        font-size: 1.1rem;
        margin-right: 12px;
        color: var(--red);

    }


    .secondDiv_right_div {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;








    }


    .secondDiv_right_div_button {
        padding: .7em;
        width: 170px;


        background-color: transparent;
        border-radius: .7em;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: .85rem;
        border: .2em solid var(--red);
        margin-top: 3em;


    }



    .thredDiv {
        padding: 2em;
        width: 90%;
        font-size: .85rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 2em;
        text-align: center;



    }


    .thredDiv_headline {
        font-size: 1rem;
        padding-bottom: 2em;

    }
}